body {
    padding-top: 40px;
    padding-bottom: 10px;
    background-color: #eee;
}

.logo-wrapper {
    text-align: center;
    margin-bottom:40px;
}
.logo {
    width: 300px;
}
.form-row {
    max-width: 600px;
    padding-top: 25px;
    padding-bottom: 0px;
    margin: 0 auto;
    font-size: 16px;
}
.form-row .form-group {
    max-width: 600px;
    padding-top: 15px;
    padding-bottom: 15px;
    margin: 0 auto;
    font-size: 16px;
}

.form-row .form-control {
    position:relative;
    height:auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
}

.form-row .form-control:focus {
    z-index: 2;
}
